custom.el
elpa/
projectile-bookmarks.eld
transient
network-security.data
bookmarks
org-roam.db
request
eln-cache
var
async-bytecomp.log

## Projectile
projectile.cache
projects

## ignore all dotfiles, except for gitignore
!.gitignore
.*
